<!--评价服务-->
<ion-view class="evaluate-service">
    <ion-content style='bottom: 4rem;' lazy-scroll>
        <div class="hot-content">
            <div class="hot-list lazy-scroll">
                <div class="ub list-item" ng-repeat="item in items" on-tap="toEvaluate(item)">
                    <div ng-if="($index+1)%2 != 0" class="list-class">
                        <div class="hot-list-img background-img" image-lazy-background-image="true"
                             image-lazy-src="{{item.service_thumpath_two | baseUrl}}"></div>
                        <div class="hot-right-content">
                            <div class="hot-name line-ellipsis-1" ng-bind="item.iname"></div>
                            <div class="ub-f1 text-center m-t-20">
                                <div class="c-df3680 f-s-24 line-ellipsis-1">¥<span class="f-s-32 c-df3680"
                                                                                    ng-bind="item.nowprice"></span>
                                </div>
                            </div>
                            <div class="text-center ub-ac ub-f1 c-9 f-s-16 m-t-20 line-ellipsis-1">
                                <span ng-bind="item.iusetime"></span>分钟
                                <span class="m-l-10" ng-bind="item.service_count" ng-if="!oldPrice"></span>人购买
                            </div>
                            <div class="u-cancel-collect" ng-if="item.iscollection == 'N'"
                                 on-tap="serversCollection($event,item,'N')"></div>
                            <div class="u-collect" ng-if="item.iscollection == 'Y'"
                                 on-tap="serversCancelCollection($event,item,'Y')"></div>
                        </div>
                    </div>
                    <div ng-if="($index+1)%2 == 0" class="list-class">
                        <div class="hot-right-content-even">
                            <div class="hot-name line-ellipsis-1" ng-bind="item.iname"></div>
                            <div class="ub-f1 text-center m-t-20">
                                <div class="c-df3680 f-s-24 line-ellipsis-1">¥<span class="f-s-32"
                                                                                    ng-bind="item.nowprice"></span>
                                </div>
                            </div>
                            <div class="text-center ub-ac ub-f1 c-9 f-s-16 m-t-20 line-ellipsis-1">
                                <span ng-bind="item.iusetime"></span>分钟
                                <span class="m-l-10" ng-bind="item.service_count" ng-if="!oldPrice"></span>人购买
                            </div>
                            <div class="u-cancel-collect" ng-if="item.iscollection == 'N'"
                                 on-tap="serversCollection($event,item,'N')"></div>
                            <div class="u-collect" ng-if="item.iscollection == 'Y'"
                                 on-tap="serversCancelCollection($event,item,'Y')"></div>
                        </div>
                        <div class="hot-list-img-even background-img" image-lazy-background-image="true"
                             image-lazy-src="{{item.service_thumpath_two | baseUrl}}"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--上拉加载更多-->
        <ion-infinite-scroll ng-class="{'u-loading-ion':(canLoadMore && isShowLoadMore)}" ng-if="canLoadMore"
                             distance="1%" immediate-check="false" on-infinite="loadMoreList()">
        </ion-infinite-scroll>
    </ion-content>

</ion-view>