html,body,form,input,span,p,button,ul,li {
	margin:0;
	padding:0
}
li {
	list-style:none
}
body {
	text-align:center;
	width:100%;
	margin:0 auto;
	font-size:15px;
	font-family:'Microsoft YaHei',Hei,arial,sans-serif;
	background:#fafafa
}
a,a:visited {
	text-decoration:none
}
h3 {
	font-size:18px
}
hr {
	border:1px solid #e6e6e6
}
img {
	max-width:720px
}
.btn {
	display:block;
	margin-top:26px;
	padding:15px 0 16px 26px;
	font-size:18px;
	color:#fff;
	border-radius:6px;
	box-shadow:0 3px 2px 0 #cbcbcb;
	position:relative
}
.btn:link,.btn:hover,.btn:visited {
	color:#fff
}
.btn>i {
	width:40px;
	height:40px;
	background:url(../images/icon_load.png) no-repeat;
	position:absolute;
	right:12px;
	top:8px;
	background-size:100%;
}
.green {
	background-color:#7bd44f;
	background-image:-moz-linear-gradient(90deg,#FD7801 0,#CD6000 100%);
	background-image:-webkit-linear-gradient(90deg,#FD7801 0,#CD6000 100%);
	background-image:-ms-linear-gradient(90deg,#FD7801 0,#CD6000 100%)
}
.green>i {
	background-position:0 0
}
.gray {
	background-color:#717171;
	background-image:-moz-linear-gradient(90deg,#525252 0,#717171 100%);
	background-image:-webkit-linear-gradient(90deg,#525252 0,#717171 100%);
	background-image:-ms-linear-gradient(90deg,#525252 0,#717171 100%)
}
.gray>i {
	margin-left:44px;
	background-position:-41px 0
}
.blue {
	background-color:#3fc4f5;
	background-image:-moz-linear-gradient(90deg,#2a97eb 0,#3fc4f5 100%);
	background-image:-webkit-linear-gradient(90deg,#2a97eb 0,#3fc4f5 100%);
	background-image:-ms-linear-gradient(90deg,#2a97eb 0,#3fc4f5 100%)
}
.blue>i {
	margin-left:34px;
	background-position:-80px 0
}
.hd {
	padding:15px 18px 15px;
	text-align:right;
	position:relative;
	overflow:hidden
}
.logo {
	position:absolute;
	left:12px;
	top:12px
}
.hd .item {
	color:#387d39
}
.hd .on,.hd .item:hover {
	border-bottom:4px solid #387d39
}
.hd .index {
	margin-right:32px
}
.bd {
	margin:0 20px;
	text-align:left
}
.b {
	font-size:18px
}
.m {
	font-size:16px
}
.s {
	font-size:12px
}
.ft {
	border-top:1px solid #e6e6e6;
	padding:26px 0 14px
}
.ft .one {
	margin-bottom:12px
}
.fb {
	display:inline-block;
	border-radius:4px;
	background-color:#387d39;
	padding:0 24px;
	line-height:28px
}
.fb span {
	color:#fff
}
.link,.link:visited {
	color:#387d39;
	text-decoration:underline
}
.section {
	padding:17px 0 16px 0;
	border-bottom:1px solid #e6e6e6;
	line-height:28px
}
.last {
	border:0;
	border-top:1px solid #e6e6e6;
	padding-bottom:0
}
.hd-t {
	text-align:left;
	padding:15px 18px 11px
}
.hd .title {
	font-weight:bold;
	color:#387d39;
	font-size:18px;
	margin-left:80px
}
.detail>li {
	overflow:hidden;
	margin:30px 10px
}
.detail>li>i {
	width:60px;
	height:55px;
	display:block;
	background:url(http://p9.qhimg.com/d/_mobilesafe/wap/ico-func.png) no-repeat;
	float:left;
	margin-top:4px
}
.detail .hold {
	background-position:-60px 0
}
.detail .shield {
	background-position:-120px 0
}
.detail .desc {
	margin-left:90px;
	line-height:22px
}
.intro {
	border-top:1px solid #e6e6e6;
	text-align:center;
	margin-bottom:30px;
	margin-top:25px
}
.intro img {
	margin:10px 0
}
.intro h2 {
	font-size:24px;
	font-weight:normal
}
.shadow {
	width:100%;
	height:5px;
	background:url(../images/shadow.png) no-repeat center
}
.info {
	text-align:left;
	padding:14px 33px;
	background:url(../images/shadow.png) no-repeat #387d39;
	color:#fff
}
.nav>p {
	border-bottom:1px solid #e6e6e6
}
.nav>p>a {
	color:#387d39;
	display:inline-block;
	width:23%;
	border-right:1px solid #e6e6e6;
	padding:14px 0
}
.nav>p>a:last-child {
	border-right:0
}
.panel {
	border:1px solid #eee;
	background:#fff;
	margin:18px 0;
	border-radius:4px 4px 4px 4px;
	width:100%;
	display:table
}
.panel>.title {
	text-align:left;
	padding:10px 18px;
	display:block
}
.panel>.title>strong:before {
	background:#387d39;

	margin-right:10px;
	vertical-align:-1px;
	display:inline-block;
	width:6px;
	height:15px;
	content:' '
}
.panel>p {
	display:table-row
}
.panel>p>a {
	color:#387d39;
	display:table-cell;
	width:32%;
	border-top:1px solid #ebebeb;
	border-right:1px solid #ebebeb;
	padding:14px 6px
}
.panel>p>a:last-child {
	border-right:0
}
.bd>.top {
	margin-top:30px
}
.section>.m {
	color:#4c4c4c
}
.end {
	border:0
}
.foot_link {
	text-align:center
}
.foot_link a {
	color:#059d2e
}
#tips {
	position:absolute;
	top:-100px;
	left:0;
	width:100%;
	height:100px;
	background-image:url(../images/wx_tips.png);
	background-position:center top;
	background-repeat:no-repeat;
	background-size:auto 100%;
	z-index:2000;
}
