@charset "utf-8";
/*常用动画*/
.am_scale_15{
    -webkit-animation:scale_15 1s .1s ease both;
    -moz-animation:scale_15 1s .1s ease both;
	-webkit-animation-fill-mode:backwards;
    -moz-animation-fill-mode:backwards;
	}
@-webkit-keyframes scale_15{
	0%{-webkit-transform:scale(1)}
	50%{-webkit-transform:scale(1.5)}
	100%{-webkit-transform:scale(1)}
}
@keyframes scale_15{
	0%{-webkit-transform:scale(1)}
	50%{-webkit-transform:scale(1.5)}
	100%{-webkit-transform:scale(1)}
}