@charset "utf-8";

.choseStore ion-content{
	background: #fff;
}
.choseStore .bar-header {
    background: #fff;
    border-bottom: none;
}
.choseStore .wrap-search {
    height: 2.6rem;
    line-height: 2.6rem;
    border-radius: 8px;
    position: relative;
    margin-left: 3.5rem;
    background: #f2f2f2;
    margin-right: 0;
}
.choseStore .wrap-search input[type=text] {
    background: #f2f2f2;
}
.choseStore .list-item{
	border: 1px solid #dedede;
	height: 14rem;
	position: relative;
	margin-bottom: 1rem;
	background: #fff;
	margin-left: 1rem;
	margin-right: 1rem;
}
.choseStore .list-class{
	position: absolute;
	height: 100%;
	width: 100%;
}
.choseStore .hot-list-img{
	background-image: url(../../../images/public/def_photo_img.png);
	-webkit-clip-path: polygon(0% 0%, 45% 0%, 60% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 45% 0%, 60% 100%, 0% 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
}
.choseStore .hot-list-img-even{
	background: url(../../../images/public/def_photo_img.png) no-repeat;
	background-position:top right;
	-webkit-clip-path: polygon(52% 0%, 100% 0%, 100% 100%, 40% 100%);
	clip-path: polygon(52% 0%, 100% 0%, 100% 100%, 40% 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
}
.choseStore .hot-list-content{
	background-color: #ffffff;
	clip-path: polygon(40% 0%, 100% 0%, 100% 100%, 60% 100%);
	width: 100%;
	height: 100%;
	position: absolute;

}
.choseStore .hot-list-content-even{
	background-color: #ffffff;
	clip-path: polygon(0% 0%, 60% 0%, 40% 100%, 0% 100%);
	width: 100%;
	height: 100%;
	position: absolute;

}
.choseStore .hot-name{
	font-size: 2rem;
	line-height: 3rem;
	color: #333333;
	text-align: center;
}
.choseStore .hot-right-content{
	width: 40%;
	height: 100%;
	padding: 1.5rem;
	float: right;
	text-align: right;
}
.choseStore .hot-right-content-even{
	width: 40%;
	height: 100%;
	padding: 1.5rem;
	float: left;
}
.m-t-20{
	margin-top: 1rem;
}
.choseStore .hot-right-content .commont-start{
	text-align: left;
	position: absolute;
    right: 1rem;
    bottom: 1rem;
}
.choseStore .hot-right-content-even .commont-start{
	position: absolute;
    left: 1rem;
    bottom: 1rem;
}
.choseStore .list-tuijian {
	position: absolute;
	width: 3.6rem;
	height: 3.6rem;
	background-image: url(../../../images/service/recommend-icon.png);
	background-size: cover;
}
.choseStore .hot-list-img .list-tuijian{
	left: 0;
}
.choseStore .hot-list-img-even .list-tuijian{
	right: 0;
}
.choseStore .list-item .botomBtns{
	text-align: center;
}

/*fxl*/
.choseStore .wrap-search input[type=text]{
	border-radius: 5px;
	margin-top: 0;
}
.choseStore .city {
	padding-left: 1.5rem;
	line-height: 3.75rem;
	font-size: 1.5rem;
}
.choseStore .arrow {
	display: inline-block;
	width: 0.8rem;
	height: 0.6rem;
	background-image: url(../../../images/home/home_xiala_btn.png);
	background-size: cover;
}
.choseStore .wrap-search{
	margin-left: 3.5rem;
    margin-right: 3.5rem;
}


/*auth: tzb*/


/*店面列表*/

.choseStore {
	/*background-color: #F7F7F7;*/
}

.choseStore .store-seach-title {}


/*地址图标*/

.choseStore .location-ion {
	width: 3.75rem;
	height: 3.75rem;
	background-image: url(../../../images/public/com_dingweicon.png);
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: 1.51875rem, 1.8rem;
}


/*顶部排序标签总布局*/

.choseStore .lable {
	/*border-bottom: 1px solid #dedede;*/
	height: 3.3rem;
	box-sizing: border-box;
	background-color: white;
	z-index: 99;
}


/*顶部排序标签布局*/

.choseStore .lable .lable_body {
	height: 100%;
	text-align: center;
}


/*顶部排序标签*/

.choseStore .lable .lable_body .lable-info {
	display: inline-block;
	line-height: 3.3rem;
	height: 3.2rem;
	box-sizing: border-box;
}

.choseStore .lable .lable_body .xiaobian{
	width: 13px;
	margin: 0 auto;
	border-bottom: 2px solid #e64c65;
}
.choseStore .lable  .xiao{
	width: 13px;
	margin: 0 auto;
	border-bottom: 2px solid #fff;
}


/*顶部排序标签点击*/

.choseStore .lable .lable-info-press {
	/*border-bottom: 2px solid #e64c65;*/
	color: #e64c65;
}


/*列表*/

.choseStore .scrollcon {
	margin-top: 4rem;
	/*top: 3.7rem;*/
}


/*item布局*/

.choseStore .scrollcon .storelist-item {
	/*padding: 1rem 0;*/
	width: 100%;
	height: 14rem;
	position: relative;
	margin: 1rem 0;
	padding: 0 1rem;
}
.choseStore .scrollcon .storelist-item:nth-of-type(2n-1) {
	/*padding: 1rem 0;*/
	width: 100%;
	height: 14rem;
	position: relative;
	margin: 1rem 0;
	padding: 0 1rem;
}


/*图片*/

.choseStore .scrollcon .storelist-item:nth-of-type(2n-1) .imag {
	width: 12.5rem;
	height: 7rem;
	background-size: contain;
	background-repeat: no-repeat;
	/*margin-left: 1.5rem;*/
	/*margin-right: 1rem;*/
	width: 100%;
	height: 100%;
	background: pink;
	background-position: top right;
	-webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 39% 99%);
	clip-path: polygon(20% 0, 100% 0, 100% 100%, 39% 99%);
	border: 1px solid red;
	text-align: right;
}
.choseStore .scrollcon .storelist-item:nth-of-type(2n) .imag {
	background-size: contain;
	background-repeat: no-repeat;
	/*margin-left: 1.5rem;*/
	/*margin-right: 1rem;*/
	width: 90%;
	height: 100%;
	background: pink;
	-webkit-clip-path: polygon(0 0, 87% 0, 60% 100%, 0% 100%);
	clip-path: polygon(0 0, 87% 0, 60% 100%, 0% 100%);
	border: 1px solid red;
}
.choseStore .scrollcon .storelist-item:nth-of-type(2n) .imag .collect-btn{
	height: 1.45rem;
    width: 1.7rem;
    /*margin-right: 1.5rem;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../images/public/shoucang_btn.png);
	margin-left: 1rem;
	margin-top: 1rem;
}
.choseStore .scrollcon .storelist-item:nth-of-type(2n) .imag .collect-btn-press {
    background-image: url(../../../images/public/shoucang_btn_pressed.png);
}
.choseStore .scrollcon .storelist-item:nth-of-type(2n-1) .imag .collect-btn{
	height: 1.45rem;
    width: 1.7rem;
    margin-right: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../images/public/shoucang_btn.png);
	margin-left: 1rem;
	margin-top: 1rem;
	display: inline-block;
}
.choseStore .scrollcon .storelist-item:nth-of-type(2n-1) .imag .collect-btn-press {
    background-image: url(../../../images/public/shoucang_btn_pressed.png);
}


/*店面右侧内容布局*/

.choseStore .scrollcon .storelist-item .store-order-line {
	height: 7rem;
	position: absolute;
	top: 0;
	right: 1rem;
	width: 61%;
    height: 100%;
    /*background: yellowgreen;*/
    -webkit-clip-path: polygon(66% 0, 100% 0, 100% 100%, 28% 100%);
	clip-path: polygon(66% 0, 100% 0, 100% 100%, 28% 100%);
	border: 1px solid red;
	padding-right: 1rem;
}
.choseStore .scrollcon .storelist-item:nth-of-type(2n-1) .store-order-line {
	height: 7rem;
	position: absolute;
	top: 0;
	left: 1rem;
	width: 60%;
    height: 99%;
    padding-left: 1rem;
    /*background: yellowgreen;*/
    -webkit-clip-path: polygon(32% 0, 0 0, 0 100%, 62% 100%);
	clip-path: polygon(32% 0, 0 0, 0 100%, 62% 100%);
	border: 1px solid red;
	/*text-align: left;*/
}
.choseStore .scrollcon .storelist-item:nth-of-type(2n) .store-order-line .commont-start{
	position: absolute;
    bottom: 0.8rem;
    right: 1rem;
}
.choseStore .scrollcon .storelist-item:nth-of-type(2n) .store-order-line .distance{
	text-align: right;
}
 

/*店面名字*/

.choseStore .scrollcon .storelist-item .store-order-line .store-name-info {
	overflow: hidden;
	text-overflow: ellipsis;
	/*margin-right: 0.25rem;*/
	/*text-align: left;*/
	color: #000;
	padding-top: 7rem;
}
.choseStore .scrollcon .storelist-item:nth-of-type(2n) .store-order-line .store-name-info {
    text-align: right;
}
/*.store .scrollcon .storelist-item:nth-last-of-type(2n) .store-name-info{
	text-align: right;
}*/
.choseStore .scrollcon .storelist-item:nth-last-of-type(2n) .store-name-info {
	padding-top: 7rem;
	/*text-align: right;*/
}


/*收藏图标*/

.choseStore .scrollcon .storelist-item .store-order-line .collect-btn {
	height: 1.45rem;
	width: 1.7rem;
	margin-right: 1.5rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../../../images/public/shoucang_btn.png);
}


/*取消收藏图标*/

.choseStore .scrollcon .storelist-item .store-order-line .collect-btn-press {
	background-image: url(../../../images/public/shoucang_btn_pressed.png);
}


/*空的星星*/

.choseStore .commont-start {
	background-image: url(../../../images/public/com_zero_icon.png);
	width: 9.2rem;
	width: 8.653846153846154rem;
	height: 1.5rem;
	display: inline-block;
	margin-top: 0.4rem;
	/*background-image: url(../../../images/public/1.png);*/
}


/*评分星星*/

.choseStore .commont-start li {
	background-image: url(../../../images/public/com_five_icon.png);
	width: 9.2rem;
	width: 8.653846153846154rem;
	height: 1.5rem;
	display: inline-block;
	background-position: left top;
	background-size: auto 100%;
	/*background-image: url(../../../images/public/2.png);*/
}


/*距离*/

.choseStore .scrollcon .storelist-item .store-order-line .distance:nth-of-type(2n) {
	/*position: absolute;
	bottom: -0.4rem;*/
	/*text-align: right;*/
}


/*分割线*/

.choseStore .scrollcon .storelist-item .store-order-line .dividing-line {
	height: 1px;
	width: 100%;
	background-color: #DEDEDE;
	position: absolute;
	bottom: -1rem;
}


/*最后一个item的分割线*/

.choseStore .scrollcon .dividing-line-long {
	height: 1px;
	width: 100%;
	background-color: #DEDEDE;
}

.choseStore .item {
	border: none;
}


/*店面相册*/

.storephone .num {
	line-height: 3.75rem;
}

.storephone .phone {
	margin-right: 0.5rem;
}

.storephone .phone .phone-imag {
	display: inline-block;
	width: 48.51%;
	margin-left: 0.45rem;
	/*padding-top: 0.5rem;*/
	height: 10rem;
	height: 9rem;
}
.storephone .phone .phone-imag .background-img{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.storephone .phone .imag {
	width: 100%;
	background-size: cover;
	height: 10rem;
}


/*套票店面详情 服务列表*/


/*切换+滚动*/

.details .content {
	background-color: #FFFFFF;
	margin-bottom: 4rem;
}

.details .search-icons {
	height: 1.3rem;
	width: 1.8rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	background-size: cover;
	background-image: url(../../../images/public/com_sousuo_btn.png);
}

.details .content .scrollc {
	height: 3.1rem;
	line-height: 3.1rem;
	border-bottom: 1px solid #DEDEDE;
}

.details .content .scrollc .service-name {
	height: 3.1rem;
	display: inline-block;
	text-align: center;
}

.details .content .scrollc .service-name .nameinfo {
	padding-bottom: 0.5rem;
}

.details .content .scrollc .service-name .nameinfopress {
	color: #E64C65;
	border-bottom: 2px solid #E64C65;
}

.details .scrollc {
	height: 3.1rem;
	line-height: 3.1rem;
	border-bottom: 1px solid #DEDEDE;
	background-color: #FFFFFF;
}

.details .scrollc .service-name {
	height: 3rem;
	display: inline-block;
	text-align: center;
}

.details .scrollc .service-name .nameinfo {
	padding-bottom: 0.5rem;
}

.details .scrollc .service-name .nameinfopress {
	color: #E64C65;
	border-bottom: 2px solid #E64C65;
}


/*套票店面详情服务列表*/

.details .content .store-service-list {
	height: 35%;
	width: 100%;
}

.details .content .store-service-list .service-list-item {}

.details .content .store-service-list .service-list-item .imag {
	width: 11.43rem;
	height: 6.4rem;
	background-size: cover;
	margin-left: 10px;
	margin-right: 10px;
}

.details .content .store-service-list .service-list-item .imag .imag-up {
	width: 4rem;
	height: 4rem;
	background-image: url(../../../images/service/recommend-icon.png);
	background-size: cover;
}

.details .content .store-service-list .service-list-item .store-order-line {
	border-bottom: 1px solid #DEDEDE;
	margin-bottom: -9px;
}

.details .content .store-service-list .service-list-item .store-order-line .store-name {
	height: 1.4rem;
	line-height: 1.4rem;
}

.details .content .store-service-list .service-list-item .store-order-line .store-name .store-name-info {
	overflow: hidden;
	text-overflow: ellipsis;
	height: 1.4rem;
	padding-bottom: 21px
}

.details .content .store-service-list .service-list-item .store-order-line .store-name .collect-btn {
	height: 1.8rem;
	width: 2.1rem;
	background-size: cover;
	background-image: url(../../../images/public/shoucang_btn.png);
}

.details .content .store-service-list .service-list-item .store-order-line .store-name .collect-btn-press {
	background-image: url(../../../images/public/shoucang_btn_pressed.png);
}

.details .item {
	border: none;
}

.details .content .store-service-list .service-list-item .store-order-line .service-time {
	height: 1.2rem;
	line-height: 1.2rem;
}


/*时间显示*/

.details .content .store-service-list .service-list-item .store-order-line .service-time .img {
	background-size: cover;
	background-image: url(../../../images/public/dd_shijian_icon.png);
	height: 1.2rem;
	width: 1.1rem;
}

.details .content .store-service-list .service-list-item .store-order-line .service-time .time-text {
	height: 1.2rem;
	line-height: 1.5rem;
	margin-left: 0.5rem;
}


/*店面名字*/

.details .content .store-service-list .service-list-item .store-order-line .storename {
	height: 1.5rem;
	margin-top: 1rem;
}

.details .content .store-service-list .service-list-item .store-order-line .shopcar {
	height: 2rem;
	border: 1px solid #E64C65;
	border-radius: 1rem;
	padding: 0.1rem 0.5rem;
	text-align: center;
	margin-top: 2rem;
}

.details .content .store-service-list .service-list-item .store-order-line .shopcarpress {
	background-color: #E64C65;
	color: #FFFFFF;
}


/*去结算*/

.details .paynumbershow {
	height: 5rem;
	width: 100%;
	position: absolute;
	bottom: 0;
	color: #FFFFFF;
	padding-top: 1rem;
}

.details .paynumbershow .goPay {
	background-color: #E64C65;
}

.details .paynumbershow .goPay .money {
	margin: 15px 20px;
}

.details .paynumbershow .goPay .time-phone {
	height: 1.5rem;
	width: 1.5rem;
	margin: 15px 5px;
	background-image: url(../../../images/public/fw_shijian_icon.png);
	background-size: cover;
}

.details .paynumbershow .goPay .time-sum {
	margin: 15px 0px;
}

.details .paynumbershow .pay-n {
	padding: 15px 20px;
	background-color: #febf49;
}