<!--搜索头部-->
<ion-view class=" wrap serviceTwo">
	<!--头部-->
	<ion-header-bar class="ub ub-ac bar bar-header">
		<!--<div class="go-back-btn disable-user-behavior" on-tap="goback()"></div>-->
		<div class="ub-f1 wrap-search">
			<i class="search-icon"></i>
			<input type="text" placeholder="搜索关键字" ng-model="searchText.text" ng-keyup="search($event)" />
		</div>
		<div style="width: 3.75rem;"></div>
	</ion-header-bar>
	<!--选项-->
	<div class="classify ub">
		<div class="ub-f1 c-3 f-s-28">
			<div class="geiwoxuan" ng-class="{true: 'active', false: ''}[isActive]" on-tap="cutMyAndHer(true)">给我选
				<s class="xiaobian"></s>
			</div>
		</div>
		<div class="ub-f1">
			<div class="geiwoxuan" ng-class="{true: 'active', false: ''}[!isActive]" on-tap="cutMyAndHer(false)">给TA选
				<s class="xiaobian"></s>
			</div>
		</div>
	</div>

	<!--服务分类-->
	<!--<ion-scroll direction="x" class="tsb-hscroll" id="tsb-hscroll" style="margin-top: 0" ng-if="serviceType!=null&&serviceType.length>0">-->
		<!--<div class="many-people-service-type" style="width: {{cWidth}}px;">
			<div class="many-people-service-view" style="width: {{serviceTypeWidth}}px;" ng-repeat="item in serviceType" on-tap="tab(item.servicetype_id)">
				<div class="c-3 f-s-28 many-people-service-type-item" ng-class="{'many-people-service-type-item-selected': selectServiceTypeId == item.servicetype_id}">{{item.servicetype_name}}</div>
			</div>
		</div>-->
		
		<!--人气，价格，好评，分类start-->
		<div class="tabbed-slidebox" tab="0">
			<div class="tsb-icons">
	            <div class="tsb-ic-wrp tsb-ic-wrpNew">
	                <ion-scroll direction="x" class="tsb-hscroll" id="tsb-hscroll">
	                    <span ng-class="{'active': sortid == 0}" on-tap="categoryOrder(0)">
							<i class="icon iconfont oa-Inbox ">人气</i>
							<s class="xiaobian"></s>
	                    </span>
	                    <span ng-class="{'active': sortid == 1}" on-tap="categoryOrder(1);">
							<i class="icon iconfont oa-Inbox ">价格</i>
							<em class="mall-arrow-pos mall-arrow-up"
	                            ng-class="{true:'mall-arrow-up-active',false:''}[isUp]"></em>
							<em class="mall-arrow-pos mall-arrow-down"
	                            ng-class="{true:'mall-arrow-down-active',false:''}[isDown]"></em>
	                        <s class="xiaobian"></s>
	                    </span>
	                    <span ng-class="{'active': sortid == 2}" on-tap="categoryOrder(2)">
							<i class="icon iconfont oa-Inbox ">好评</i>
							<s class="xiaobian"></s>
	                    </span>
	                    <div class="mall-a c-3" ng-class="{'active': sortid == 2}" on-tap="proType()" >
	                        <i class="mall-a-type mall-a-typeNew" ng-class="{true:'active-type',false:''}[isShow == true]">分类</i>
	                        <!--<span class="xiaobian"></span>-->
	                    </div>
	                </ion-scroll>
	            </div>
	        </div>
		</div>
		<!--end-->
		
		
	<!--</ion-scroll>-->
	<ion-content id="body-view" lazy-scroll class="many-people-scroll" delegate-handle="scrollContent" style="top: 12rem;bottom: 4rem;margin-bottom: 0;">
		<!--下拉刷新-->
		<ion-refresher class="u-loading-ion" on-refresh="doRefresh()"></ion-refresher>

		<!--<div class="many-people-list-item ub" ng-repeat="item in items" on-tap="goDetail(item,$index)">-->
			<!--图片-->
			<!--<div class="background-img many-people-list-image" image-lazy-background-image="true" image-lazy-src="{{item.service_thumpath_two | baseUrl}}">
				<span class="many-people-list-tuijian" ng-if="item.isrecommend == 'Y'"></span>
			</div>-->
			<!--<div class="many-people-list-content ub-f1">-->
				<!--<div class="ub">-->
					<!--服务名称-->
					<!--<div class="f-s-28 c-3 line-ellipsis-1 ub-f1 many-people-list-name">{{item.iname}}</div>-->
					<!--收藏图标-->
					<!--<div ng-class="{true:'u-cancel-collect',false:'u-collect'}[item.iscollection == 'N']" on-tap="item.iscollection=='N'?goodsCollection(item,$event):goodsCollectionDel(item,$event)"></div>-->
				<!--</div>-->
				<!--服务时长-->
				<!--<div class="f-s-20 c-3 many-people-list-service-time-view">
					<div class="many-people-list-service-time-img"></div>
					<div class="many-people-list-service-time">{{item.iusetime}}分钟</div>
				</div>-->
				<!--<div class="many-people-list-price-and-add">-->
					<!--<div class="many-people-list-price c-e6 f-s-28">¥{{item.nowprice}}-->
						<!--原价-->
						<!--<i class="many-people-list-original-price f-s-18 c-6">¥{{item.oldprice}}</i>-->
					<!--</div>-->
					<!--购买人数-->
					<!--<div class="f-s-16 c-9">{{item.service_count}}人购买</div>-->

				<!--</div>-->
				<!--加入购物车-->
				<!--<div class="many-people-list-join-car f-s-20" ng-class="{'many-people-list-cancel-car':item.selected}" on-tap="joinCar($event,item)">{{item.selected?'取消购买':'加入购买'}}</div>-->
				<!--分割线-->
				<!--<div class="many-people-list-line" ng-if="$index!=items.length-1"></div>-->
			<!--</div>-->
		<!--</div>-->
		
		<!--梯形-->
		<div class="list-item" ng-repeat="item in items" on-tap="goDetail(item,$index)">
	            <div ng-if="($index+1)%2 != 0" class="list-class">
	                <div class="hot-list-img" image-lazy-background-image="true" image-lazy-src="{{item.service_thumpath_two | baseUrl}}">
	                	<span class="list-tuijian" ng-if="item.isrecommend == 'Y'"></span>
	                </div>
	                <div class="hot-right-content">
	                    <div class="hot-name line-ellipsis-1" ng-bind="item.iname"></div>
	                    <div class="ub-f1 text-center m-t-5">
	                        <div class="c-e6 f-s-28">¥<span class="f-s-40" ng-bind="item.nowprice"></span></div>
	                    </div>
	                    <div class="content-times ub-f1 c-6 f-s-20 m-t-5">
	                        <span ng-bind="item.iusetime"></span>分钟
	                        <span class="m-l-5" ng-bind="item.service_count" ng-if="!oldPrice"></span>人购买
	                    </div>
	                    <div class="botomBtns m-t-5">
	                    	<span class="u-cancel-collect collection" ng-if="item.iscollection == 'N'" on-tap="goodsCollection(item,$event)" ></span>
	                    	<span class="u-collect collection" ng-if="item.iscollection == 'Y'" on-tap="goodsCollectionDel(item,$event)"></span>
	                    	<!--加入购物车-->
							<span class="list-join-car f-s-20" ng-class="{'list-cancel-car':item.selected}" on-tap="joinCar($event,item)"></span>
	                    </div>
	                    
	                </div>
	            </div>
	            <div ng-if="($index+1)%2 == 0" class="list-class">
	                <div class="hot-right-content-even">
	                    <div class="hot-name line-ellipsis-1" ng-bind="item.iname"></div>
	                    <div class="ub-f1 text-center" style="margin-top: 5px;">
	                        <div class="c-e6 f-s-28">¥<span class="f-s-40" ng-bind="item.nowprice"></span></div>
	                    </div>
	                    <div class="content-times ub-f1 c-6 f-s-20" style="margin-top: 5px;">
	                        <span ng-bind="item.iusetime"></span>分钟
	                        <span class="m-l-5" ng-bind="item.service_count" ng-if="!oldPrice"></span>人购买
	                    </div>
	                    <div class="botomBtns m-t-5">
	                    	<span class="u-cancel-collect collection" ng-if="item.iscollection == 'N'" on-tap="goodsCollection(item,$event)"></span>
	                    	<span class="u-collect collection m-t-5" ng-if="item.iscollection == 'Y'" on-tap="goodsCollectionDel(item,$event)"></span>
	                    	<!--加入购物车-->
							<span class="list-join-car f-s-20" ng-class="{'list-cancel-car':item.selected}" on-tap="joinCar($event,item)"></span>
	                    </div>
	                    
	                </div>
	                <div class="hot-list-img-even" image-lazy-background-image="true" image-lazy-src="{{item.service_thumpath_two | baseUrl}}">
	                	<span class="list-tuijian" ng-if="item.isrecommend == 'Y'"></span>
	                </div>
	            </div>
	    </div>
		<!--end-->
		
		<!--上拉加载-->
		<ion-infinite-scroll class="u-loading-ion" ng-if="isShowLoadMore" distance="1%" immediate-check="false" on-infinite="loadMoreGoodsList()"></ion-infinite-scroll>

		<mobo-no-data text="暂无数据!" layout="x" ng-if="noData"></mobo-no-data>
	</ion-content>

	<!--底部去结算-->
	<div id="btnBottom" class="many-people-bottom ub c-f bg-color-r f-s-28">
		<div class="p-l-30 ub-f1 ub">
			<div class="many-people-line-height-80">合计:&nbsp;¥&nbsp;&nbsp;{{money}}</div>
			<div class="many-people-line-height-80 ub-f1 many-people-bottom-time-view">
				<div class="many-people-bottom-time-ion"></div>
				<div class="many-people-line-height-80 many-people-bottom-time m-l-20">&nbsp;{{timeMy+timeHer}}分钟</div>
			</div>
		</div>
		<div class="many-people-line-height-80 many-people-bottom-next" on-tap="next()">去结算</div>
	</div>
</ion-view>