<!--到家技师列表-->
<!--到店单人下单流程上的技师列表-->
<ion-view class="technician-index wrap">
	<!--头部-->
	<ion-header-bar class="ub ub-ac bar bar-header clearfix">
		<div class="left-img"></div>
		<div class="ub-f1 wrap-search">
			<i class="search-icon"></i>
			<input class="m-t-5" type="text" placeholder="搜索美甲师姓名" ng-model="searchText.text" ng-keyup="search($event)" />
		</div>
		<!--<div class="search-btn" on-tap="search($event)"></div>-->
	</ion-header-bar>

	<!--选项-->
	<div class="text-center ub m-t-20">
		<div class="slides">
			<ion-scroll direction="x" class="tsb-hscroll" id="tsb-hscroll">
				<div class="ub-f1" ng-repeat="title in techniciantitles">
					<i class="tag" ng-class="{'active': current == {{title.number}}}" on-tap="tab({{title.number}})" ng-bind="title.title"></i>
					<s class="select-line" ng-class="{'active': current == {{title.number}}}" on-tap="tab({{title.number}})"></s>
				</div>
			</ion-scroll>
		</div>
	</div>

	<ion-content class="technician-content" lazy-scroll>
		<!--下拉刷新-->
		<ion-refresher class="u-loading-ion" on-refresh="doRefresh()"></ion-refresher>
		<!--无数据-->
		<mobo-no-data text="暂无数据!" layout="x" ng-if="noData"></mobo-no-data>
		<div ng-include="'apps/modules/technician/templates/technician-list.html'"></div>
		<ion-infinite-scroll ng-class="{'u-loading-ion': (canLoadMoreGoodsList && isShowLoadMore)}" ng-if="canLoadMoreGoodsList" distance="1%" immediate-check="false" on-infinite="loadMoreGoodsList()"></ion-infinite-scroll>
	</ion-content>
</ion-view>