<!--到家流程-技师列表-->
<div style="display: -webkit-flex;flex-wrap: wrap;">
    <div class="list-class" ng-repeat="item in items" on-tap="goDetail(item.beauticianid,item)">
        <span class="background-img technician-list-img" image-lazy-src="{{item.photo_two | baseUrl}}" image-lazy-background-image="true"></span>
        <div class="list-collect">
            <div class="u-cancel-collect" ng-if="item.iscollection == 'Y'" on-tap="technicianCollection($event,item,'Y')"></div>
            <div class="u-collect" ng-if="item.iscollection == 'N'" on-tap="technicianCollectionCancel($event ,item,'N')"></div>
        </div>
        <div class="list-content">
            <!--技师名称和已服务次数 选她按钮-->
            <div class="m-t-20 c-3 f-s-28 text-center ub-f1 line-ellipsis-1" ng-bind="item.nickname" ></div>
            <div class="m-t-20 c-9 f-s-20 text-center ub-f1 line-ellipsis-1">已服务 {{item.order_count}} 次</div>
            <div class="m-t-20 f-s-26 technician-list-select" on-tap="selectManicurist(item.beauticianid,item)" ng-class="{'technician-list-clear-select':(isGiveMe&&myTechnician&&myTechnician.beauticianid==item.beauticianid)||(!isGiveMe&&herTechnician&&herTechnician.beauticianid==item.beauticianid)}">选她</div>
        </div>
    </div>
</div>
