<style type="text/css">
    .image-preview {
        display: box;
        display: -webkit-box;
        display: -moz-box;

        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-box-align: center;
        -moz-box-align: center;
    }
</style>
<p style="margin: 2em 0; text-align: center">不要着急，请先<font color=red>登录</font>哦~</p>
<div class="popup-buttons">
    <button on-tap="closeLoginPopup()" class="button ng-binding button-default" style=""><font color="#999">取消</font></button>
    <button on-tap="closeLoginPopup(true)" class="button ng-binding button-positive" style="">去登录</button>
</div>