'use strict';

/*
 一切和开发环境有关的配置都放这个文件里做区分
 不要该文件添加到版本控制里
 author huoyuanyuan
 date 2016/9/23
 */

app.factory('ENV', function () {
    return {
        domainName: 'http://fashionme.test.chinamobo.com/',
        apiurl: 'http://fashionme.test.chinamobo.com/api/index.php/wechat/index?service_code=',
        //userInfo : {enterprise: '魔学院公开课'}
        //apiurl: 'http://mxy.com/appapi.php/index?r=',
        userInfo : {user_id:'19520499_b7a3_6595_97c1_ffe49caa1497', token: 'bfc37562a245791af95998d8be9b1162'}

    }
});


